<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title style="text-align: center;">Restaurantes</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="salir2()">
        <ion-icon name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  

  <ion-row >
    <ion-col size="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2" size-lg="6" offset-lg="3" size-xl="4"
      offset-xl="4">
      
      
      
    
      
      <ion-card style="padding-top: 1px;" >
        
        <ion-card-content style="padding-top: 0px;" style="padding-bottom: 0px;">
          
      <ion-item style="--border-color: #ffffff !important; --min-height:min;"> 
        <ion-label style="font-weight: bolder; font-size: 15px; margin-top:0px">
          Agregar Restaurante  
        </ion-label>
      <ion-icon (click)="compri()" style="font-size: 20px; " [name]="agrega===true ?'chevron-up-outline':'chevron-down-outline'" slot="end" ></ion-icon>
      </ion-item>  
         <div style="margin: 10px; margin-bottom: 15px;"> 

          <ion-item *ngIf="agrega" >
            <ion-label position="floating">Restaurante</ion-label>
            <ion-input    [(ngModel)]="nombre" ></ion-input>
            <ion-icon style="padding-top: 25px;" name="restaurant" slot="start" ></ion-icon>
          </ion-item>

         
        </div>

          <ion-button  *ngIf="agrega" style="font-weight: bolder;" color ="secondary"  expand="block" style="margin: 10px;" (click)="agregar()">Guardar </ion-button>
        </ion-card-content>
      </ion-card>
      
      <ion-card style="padding-top: 1px;" >
        
        <ion-card-content style="padding-top: 0px;" style="padding-bottom: 0px;">

          <ion-item style="--border-color: #ffffff !important; --min-height:min;"> 
            <ion-label style="font-weight: bolder; font-size: 15px; margin-top:0px">
              Modificar Restaurante 
            </ion-label>
          <ion-icon (click)="compri6()" style="font-size: 20px; " [name]="agrega===true ?'chevron-up-outline':'chevron-down-outline'" slot="end" ></ion-icon>
          </ion-item>  

         <div style="margin: 10px; margin-bottom: 15px;"> 

          <ion-list *ngIf="resmodi">   
            <ion-item style="border:0.5px solid rgb(192, 192, 192);" >
              <ion-label>Restaurante</ion-label>
              <ion-select  [(ngModel)]="selectmodires"  (ionChange)="retroali()">
                <ion-select-option  *ngFor="let item of Arestau" value="{{item.id}}" >{{item.nombre}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>

          <ion-item *ngIf="resmodi" >
            <ion-label position="floating">Anterior</ion-label>
            <ion-input  readonly="readonly"  [(ngModel)]="resanterior" ></ion-input>
            <ion-icon style="padding-top: 25px;" name="return-down-back-outline" slot="start" ></ion-icon>
          </ion-item>

          <ion-item *ngIf="resmodi" >
            <ion-label position="floating">Nuevo</ion-label>
            <ion-input    [(ngModel)]="resnuevo" ></ion-input>
            <ion-icon style="padding-top: 25px;" name="repeat-outline" slot="start" ></ion-icon>
          </ion-item>

         
        </div>

          <ion-button  *ngIf="resmodi" style="font-weight: bolder;" color ="secondary"  expand="block" style="margin: 10px;" (click)="modificarrestau()">Modificar </ion-button>
        </ion-card-content>
      </ion-card>

      <ion-card style="padding-top: 1px;" >
        
        <ion-card-content style="padding-top: 0px;" style="padding-bottom: 0px;">
            
      <ion-item style="--border-color: #ffffff !important; --min-height:min;"> 
        <ion-label style="font-weight: bolder; font-size: 15px; margin-top:0px">
          Agregar una Sucursal 
        </ion-label>
      <ion-icon  (click)="compri4()" style="font-size: 20px; " [name]="agrega===true ?'chevron-up-outline':'chevron-down-outline'" slot="end" ></ion-icon>
      </ion-item> 

        <ion-list *ngIf="addsucu">   
          <ion-item style="border:0.5px solid rgb(192, 192, 192);" >
            <ion-label>Restaurante</ion-label>
            <ion-select  [(ngModel)]="SelectValue" >
              <ion-select-option  *ngFor="let item of Arestau" value="{{item.id}}" >{{item.nombre}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

         <div style="margin: 10px; margin-bottom: 15px;"> 


          <ion-item  *ngIf="addsucu" >
            <ion-label position="floating">Sucursal</ion-label>
            <ion-input    [(ngModel)]="sucursals" ></ion-input>
            <ion-icon style="padding-top: 25px;" name="bookmarks-outline" slot="start" ></ion-icon>
          </ion-item>

          <ion-item  *ngIf="addsucu" >
            <ion-label position="floating">Contato</ion-label>
            <ion-input    [(ngModel)]="contactos" ></ion-input>
            <ion-icon style="padding-top: 25px;" name="call-outline" slot="start" ></ion-icon>
          </ion-item>
         
          <ion-item  *ngIf="addsucu" >
            <ion-label position="floating">Ubicación</ion-label>
            <ion-textarea    [(ngModel)]="direccions" ></ion-textarea>
            <ion-icon style="padding-top: 25px;" name="location-outline" slot="start" ></ion-icon>
          </ion-item>

          <ion-item  *ngIf="addsucu" >
            <ion-label position="floating">Horario de atención</ion-label>
            <ion-textarea    [(ngModel)]="horarios" ></ion-textarea>
            <ion-icon style="padding-top: 25px;" name="calendar-outline" slot="start" ></ion-icon>
          </ion-item>

          <ion-item   *ngIf="addsucu">
            <ion-label position="floating">Información</ion-label>
            <ion-textarea    [(ngModel)]="descripcions" ></ion-textarea>
            <ion-icon style="padding-top: 25px;" name="help-circle-outline" slot="start" ></ion-icon>
          </ion-item>

          <ion-item  *ngIf="addsucu" >
            <ion-label position="floating">Eslogan</ion-label>
            <ion-textarea    [(ngModel)]="eslogans" ></ion-textarea>
            <ion-icon style="padding-top: 25px;" name="sunny-outline" slot="start" ></ion-icon>
          </ion-item>
        
          <!-- <div *ngIf="addsucu">
            <ion-button  style="font-weight: bolder;" color ="light"  expand="block" style="margin: 10px;" (click)="ActionsPhoto()" type='file'>
              <ion-icon  name="images" slot="start" > </ion-icon>  Cargar Imagen
              <ion-icon   name="checkmark-outline" slot="end" *ngIf="imagenBD"> </ion-icon>  
          </ion-button>
          </div> -->

        </div>

          <ion-button  *ngIf="addsucu" style="font-weight: bolder;" color ="secondary"  expand="block" style="margin: 10px;" (click)="agregarsucur()">Guardar</ion-button>
        </ion-card-content>
      </ion-card>
 
      <ion-card style="padding-top: 1px;">   

        <ion-card-content>


        <ion-item style="--border-color: #ffffff !important; --min-height:min;"> 
          <ion-label style="font-weight: bolder; font-size: 15px; margin-top:0px">
            Mostrar Restaurantes
          </ion-label>
        <ion-icon  (click)="compri2()" style="font-size: 20px; " [name]="agrega===true ?'chevron-up-outline':'chevron-down-outline'" slot="end" ></ion-icon>
        </ion-item> 

        <ion-searchbar *ngIf="mostra" placeholder="Buscar" showCancelButton="focus"  [(ngModel)]="texto" name="busca" ></ion-searchbar>
       
         <div style="padding-top: 10px !important;"  *ngIf="mostra">

           <table style="width:95%; margin: 10px;">
             <tr>
               <th>Restaurante</th>
               <th>Opciones</th>
             </tr>
             <tr *ngFor="let item of Arestau | filtro : texto : 'nombre'">
               <td>{{item.nombre}}</td>
               <td><ion-icon name="trash-outline" (click)="eliminar(item.id)" ></ion-icon></td>
             </tr> 
           </table>
         </div>

        </ion-card-content>

      </ion-card>

      <ion-card style="padding-top: 1px;">   

        <ion-card-content>

        <ion-item style="--border-color: #ffffff !important; --min-height:min;"> 
          <ion-label style="font-weight: bolder; font-size: 15px; margin-top:0px">
            Mostrar las Sucursales
          </ion-label>
        <ion-icon   (click)="compri5()" style="font-size: 20px; " [name]="agrega===true ?'chevron-up-outline':'chevron-down-outline'" slot="end" ></ion-icon>
        </ion-item> 

        <ion-list *ngIf="mosinfo">   
          <ion-item style="border:0.5px solid rgb(192, 192, 192);" >
            <ion-label>Restaurante</ion-label>
            <ion-select  [(ngModel)]="SelectorSucursal"  (ionChange)="MostrarInfo()">
              <ion-select-option  *ngFor="let item of Arestau" value="{{item.id}}" >{{item.nombre}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <ion-searchbar *ngIf="mosinfo" placeholder="Buscar" showCancelButton="focus"  [(ngModel)]="texto2" name="busca" ></ion-searchbar>
       
         <div style="padding-top: 10px !important;"  *ngIf="mosinfo">
           <table style="width:95%; margin: 10px;">
             <tr>
             
               <th>Sursal</th>
               <th>Opciones</th>
             </tr>
             <tr *ngFor="let item of MosSucu | filtro : texto2 : 'sucursal'">

               
               <td>{{item.sucursal}}</td>
               <td><ion-icon name="trash-outline" (click)="eliminar(item.id)" ></ion-icon></td>
             </tr> 
           </table>
         </div>

        </ion-card-content>

      </ion-card>

      <ion-card style="padding-top: 1px;" >
        
        <ion-card-content style="padding-top: 0px;" style="padding-bottom: 0px;">

        
        <ion-item style="--border-color: #ffffff !important; --min-height:min;"> 
          <ion-label style="font-weight: bolder; font-size: 15px; margin-top:0px">
            Modificar Sucursales
          </ion-label>
        <ion-icon  (click)="compri3()" style="font-size: 20px; " [name]="agrega===true ?'chevron-up-outline':'chevron-down-outline'" slot="end" ></ion-icon>
        </ion-item> 

        <ion-list *ngIf="actu">   
          <ion-item style="border:0.5px solid rgb(192, 192, 192);" >
            <ion-label>Restaurante</ion-label>
            <ion-select  [(ngModel)]="SelectRes"  (ionChange)="traerInfo()">
              <ion-select-option  *ngFor="let item of Arestau" value="{{item.id}}" >{{item.nombre}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <ion-list *ngIf="actu">   
          <ion-item style="border:0.5px solid rgb(192, 192, 192);" >
            <ion-label>Sucursal</ion-label>
            <ion-select  [(ngModel)]="Selectsucu"  (ionChange)="recu()">
              <ion-select-option  *ngFor="let item of Sucu" value="{{item.id}}" >{{item.sucursal}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

         <div style="margin: 10px; margin-bottom: 15px;"> 

         
          <ion-item  *ngIf="actu" >
            <ion-label position="floating">Sucursal</ion-label>
            <ion-input    [(ngModel)]="sucursalm" ></ion-input>
            <ion-icon style="padding-top: 25px;" name="bookmarks-outline" slot="start" ></ion-icon>
          </ion-item>

          <ion-item  *ngIf="actu" >
            <ion-label position="floating">Contato</ion-label>
            <ion-input    [(ngModel)]="contactom" ></ion-input>
            <ion-icon style="padding-top: 25px;" name="call-outline" slot="start" ></ion-icon>
          </ion-item>
         
          <ion-item  *ngIf="actu" >
            <ion-label position="floating">Ubicación</ion-label>
            <ion-textarea    [(ngModel)]="direccionm" ></ion-textarea>
            <ion-icon style="padding-top: 25px;" name="location-outline" slot="start" ></ion-icon>
          </ion-item>

          <ion-item  *ngIf="actu" >
            <ion-label position="floating">Horario de atención</ion-label>
            <ion-textarea    [(ngModel)]="horariom" ></ion-textarea>
            <ion-icon style="padding-top: 25px;" name="calendar-outline" slot="start" ></ion-icon>
          </ion-item>

          <ion-item   *ngIf="actu">
            <ion-label position="floating">Información</ion-label>
            <ion-textarea    [(ngModel)]="descripcionm" ></ion-textarea>
            <ion-icon style="padding-top: 25px;" name="help-circle-outline" slot="start" ></ion-icon>
          </ion-item>

          <ion-item  *ngIf="actu" >
            <ion-label position="floating">Eslogan</ion-label>
            <ion-textarea    [(ngModel)]="esloganm" ></ion-textarea>
            <ion-icon style="padding-top: 25px;" name="sunny-outline" slot="start" ></ion-icon>
          </ion-item>
 

        </div>

          <ion-button  *ngIf="actu" style="font-weight: bolder;" color ="secondary"  expand="block" style="margin: 10px;" (click)="modificar()">Actualizar </ion-button>
        </ion-card-content>
      </ion-card>


    </ion-col>
  </ion-row>

  
  
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <app-menu entrada="1"></app-menu>
  </ion-toolbar>
</ion-footer>