<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="text-align: center;">Productos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="salir2()">
        <ion-icon name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row >
    <ion-col size="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2" size-lg="6" offset-lg="3" size-xl="4"
      offset-xl="4">

      <!-- Agregar Producto -->
      <ion-card style="padding-top: 1px;" >

        <ion-card-content style="padding-top: 0px;" style="padding-bottom: 0px;">
          <center>      
            <ion-label style="font-weight: bolder; font-size: 15px; text-align: center;">
            Agregar Producto
            <ion-icon (click)="compri()" style="font-size: 20px; padding-left: 150px;" [name]="agrega===true ?'chevron-up-outline':'chevron-down-outline'" slot="end" ></ion-icon>
  
          </ion-label>
        </center>



         <div style="margin: 10px; margin-bottom: 15px;"> 

          <ion-item *ngIf="agrega" (ionChange)="Cambiocat()" >
            <ion-label>Restaurante</ion-label>
            <ion-select  [(ngModel)]="ValorRestaurante" >
              <ion-select-option  *ngFor="let item of Restaurantes" value="{{item.id}}" >{{item.nombre}}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="agrega" >
            <ion-label position="floating">Producto</ion-label>
            <ion-input name="email"  [(ngModel)]="nombre" ></ion-input>
            <ion-icon style="padding-top: 25px;" name="restaurant" slot="start" ></ion-icon>
          </ion-item>

          <ion-item  *ngIf="agrega" >
            <ion-label position="floating">Percio</ion-label>
            <ion-input type="email" name="email"  [(ngModel)]="precio" ></ion-input>
            <ion-icon style="padding-top: 25px;" name="logo-usd" slot="start" ></ion-icon>
          </ion-item>
          
          <ion-item   *ngIf="agrega">
            <ion-label position="floating">Descripción</ion-label>
            <ion-textarea type="email" name="email"  [(ngModel)]="descripcion" ></ion-textarea>
            <ion-icon style="padding-top: 25px;" name="logo-twitch" slot="start" ></ion-icon>
          </ion-item>

          <ion-segment *ngIf="agrega" [(ngModel)]="ValorTurno" (ionChange)="Cambiocat()" >
            <ion-segment-button  *ngFor="let tur of turn" value="{{tur.id}}">
              <ion-label>{{tur.turno}}</ion-label>
            </ion-segment-button>
          </ion-segment>

          <ion-segment *ngIf="agrega" [(ngModel)]="ValorCate" (ionChange)="Cambiocat()" >
            <ion-segment-button  *ngFor="let cat of cate" value="{{cat.id}}">
              <ion-label>{{cat.categoria}}</ion-label>
            </ion-segment-button>
          </ion-segment>

        </div>

          <ion-button  *ngIf="agrega" style="font-weight: bolder;" color ="secondary"  expand="block" style="margin: 10px;" (click)="agregar()">Guardar </ion-button>
        </ion-card-content>
      </ion-card>

       <!-- Mostrarr y Eliminar Producto -->
      <ion-card>
  
        <ion-card-content>

          <center>      
            <ion-label style="font-weight: bolder; font-size: 15px; text-align: center;">
            Mostrar Productos
            <ion-icon (click)="compri2()" style="font-size: 20px; padding-left: 150px;" [name]="mostra===true ?'chevron-up-outline':'chevron-down-outline'" slot="end" ></ion-icon>
  
          </ion-label>
        </center>
        <ion-searchbar *ngIf="mostra" placeholder="Buscar" showCancelButton="focus"  [(ngModel)]="texto" name="busca" ></ion-searchbar>
         <div style="padding-top: 10px !important;"  *ngIf="mostra">
           <table style="width:95%; margin: 10px;">
             <tr>
               <th>Nombre</th>
               <th>Precio</th>
               <th>Opciones</th>
             </tr>
             <tr *ngFor="let item of productos | filtro : texto : 'nombre'">
               <td>{{item.nombre}}</td>
               <td>${{item.precio}}</td>
               <td>
                 <ion-icon name="trash-outline" (click)="eliminar(item.id)"  style="padding: 5px;"></ion-icon>
                 <ion-icon name="create-outline"  (click)="ObtenerIdUpdate(item.id)" style="padding: 5px;"></ion-icon>
              </td>
              
             </tr> 
           </table>
         </div>

        </ion-card-content>

      </ion-card>

       <!-- Actualizar Producto -->
      <ion-card style="padding-top: 1px;" >

        <ion-card-content style="padding-top: 0px;" style="padding-bottom: 0px;">
          <center>      
            <ion-label style="font-weight: bolder; font-size: 15px; text-align: center;">
              Modificar Producto
            <ion-icon (click)="compri3()" style="font-size: 20px; padding-left: 150px;" [name]="actu===true ?'chevron-up-outline':'chevron-down-outline'" slot="end" ></ion-icon>
  
          </ion-label>
        </center>



         <div style="margin: 10px; margin-bottom: 15px;"> 

          <ion-item *ngIf="actu" (ionChange)="Cambiocat()" >
            <ion-label>Restaurante</ion-label>
            <ion-select  [(ngModel)]="UValorRestaurante" >
              <ion-select-option  *ngFor="let item of Restaurantes" value="{{item.id}}" >{{item.nombre}}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="actu" >
            <ion-label position="floating">Restaurante</ion-label>
            <ion-input readonly="readonly" name="email"  [(ngModel)]="rest" ></ion-input>
            <ion-icon style="padding-top: 25px;" name="restaurant" slot="start" ></ion-icon>
          </ion-item>

          <ion-item *ngIf="actu" >
            <ion-label position="floating">Producto</ion-label>
            <ion-input name="email"  [(ngModel)]="Unombre" ></ion-input>
            <ion-icon style="padding-top: 25px;" name="restaurant" slot="start" ></ion-icon>
          </ion-item>

          <ion-item  *ngIf="actu" >
            <ion-label position="floating">Percio</ion-label>
            <ion-input type="email" name="email"  [(ngModel)]="Uprecio" ></ion-input>
            <ion-icon style="padding-top: 25px;" name="logo-usd" slot="start" ></ion-icon>
          </ion-item>
          
          <ion-item   *ngIf="actu">
            <ion-label position="floating">Descripción</ion-label>
            <ion-textarea type="email" name="email"  [(ngModel)]="Udescripcion" ></ion-textarea>
            <ion-icon style="padding-top: 25px;" name="logo-twitch" slot="start" ></ion-icon>
          </ion-item>

          <ion-segment *ngIf="actu" [(ngModel)]="UValorTurno" (ionChange)="Cambiocat()" >
            <ion-segment-button  *ngFor="let tur of turn" value="{{tur.id}}">
              <ion-label>{{tur.turno}}</ion-label>
            </ion-segment-button>
          </ion-segment>

          <ion-segment *ngIf="actu" [(ngModel)]="UValorCate" (ionChange)="Cambiocat()" >
            <ion-segment-button  *ngFor="let cat of cate" value="{{cat.id}}">
              <ion-label>{{cat.categoria}}</ion-label>
            </ion-segment-button>
          </ion-segment>

        </div>

          <ion-button  *ngIf="actu" style="font-weight: bolder;" color ="secondary"  expand="block" style="margin: 10px;" (click)="actualizar()">Guardar </ion-button>
        </ion-card-content>
      </ion-card>

    </ion-col>
  </ion-row>


  <app-menu entrada="2"></app-menu>

</ion-content>
