<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="salir2()">
        <ion-icon name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-menu entrada="3"></app-menu>

  
 <ion-card>
	<ion-segment [(ngModel)]="elementType">
		<ion-segment-button value="canvas">
			<ion-label>OPCIONES DE CODIGO QR</ion-label>
		</ion-segment-button>
	</ion-segment>

  <ion-item>
		<ion-input type="text" placeholder="Texto a Convertir" [(ngModel)]="qrData">
		</ion-input>
  </ion-item>
  

	<ion-card *ngIf="qrData" class="text-center">
  <center>  <ngx-qrcode [elementType]="elementType"	[value]="qrData" qrc-class="my-code">
		</ngx-qrcode></center>
		<ion-card-content>
			<ion-button
				expand="full"
				color="tertiary"
				(click)="downloadQR()"
				*ngIf="elementType === 'canvas'"
			>
				<ion-icon name="download" slot="start"></ion-icon>
				DESCARGAR CODIGO QR
			</ion-button>
		</ion-card-content>
	</ion-card>

	<ion-button expand="full" (click)="scanCode()" color="secondary" style="margin: 10px;">
		<ion-icon style="margin-right: 8px;" name="qr-code-outline"></ion-icon>
		ESCANEAR CODIGO QR
	</ion-button>
	<ion-card *ngIf="scannedCode">
		<ion-card-content>
			Result of Scan: {{ scannedCode }}
		</ion-card-content>
	</ion-card>
</ion-card>

</ion-content>
